# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
/md

# Python
*.pyc
__pycache__

# Robot Framework results
robot/ExtractPicklistByRecordType/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
